<%- include("partials/header.ejs") -%>
<style>
   .jumbotron {
        text-align: center;
        background-image : linear-gradient(to right, rgb(5, 245, 49), rgb(5, 245, 221), rgb(5, 21, 245));
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h1>TheImperialGod - Discord Bot</h1>
            <p>An awesome discord bot.. to be filled later</p>
        </div>
        <div class="col-md-6">
            <!--Font awesome icon-->
        </div>
    </div>
</div>